@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rancho&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Della+Respira&display=swap");
.shop-cart-title {
  text-align: center;
  font-family: "Inknut Antiqua", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2.2rem;
}
.shop-row {
  display: flex;
  justify-content: center;
}
.shop-gird {
  display: flex;
  padding: 15px 10px;
  gap: 10px;
  flex-direction: row;
  width: 50%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.shop-gird > img {
  height: 350px;
  width: 300px;
}
.shop-cart-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 20px;
}
.shop-cart-details > h1 {
  font-family: "Rancho", cursive;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.5px;
}
.added-buttons {
  gap: 10px;
  display: flex;
  padding: 15px 0px;
}
.added-buttons > button {
  padding: 5px 20px;
  background-color: white;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  outline: none;
  border: 0.5px solid black;
}
.added-buttons > button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
.buy-btn > button {
  padding: 10px 25px;
  background-color: rgb(0, 152, 0);
  outline: none;
  border: none;
  width: 50%;
  text-align: center;
}
.buy-btn > button:hover {
  background-color: rgb(28, 203, 28);
  cursor: pointer;
}
.close-bar {
  cursor: pointer;
}
.delivery-cart {
  display: flex;
  flex-direction: column;
}
.cart-container {
  position: relative;
}
.modal-open .shop-cart {
  opacity: 0.3;
  pointer-events: none;
}
.cart-form-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.delivery-form {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 90%;
}
.delivery-form > h2 {
  font-size: 2rem;
  font-family: "Della Respira", serif;
  font-weight: 400;
}
.delivery-cart {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
}
.delivery-name {
  padding: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.delivery-address {
  padding: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.delivery-number {
  padding: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.order-btn {
  margin-top: 10px;
  padding: 8px 12px;
  border: none;
  gap: 20px;
  display: flex;
  justify-content: center;
  color: white;
  border-radius: 5px;
}
.order-btn > button {
  padding: 4px 15px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  cursor: pointer;
}

@media only screen and (max-width: 576px) {
  .shop-cart-title {
    text-align: center;
    font-family: "Inknut Antiqua", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
  }
  .shop-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .shop-gird {
    display: flex;
    padding-top: 25px;
    padding-bottom: 5px;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .close-btn {
    position: relative;
    top: -99%;
    right: 3px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .shop-gird {
    display: flex;
    padding: 15px 10px;
    gap: 10px;
    flex-direction: row;
    width: 75%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .delivery-form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 90%;
  }
}
